

html, body {
  height: 100%;
  min-height: 18em;
  ::-webkit-scrollbar { 
    display: none; 
}

}


p, h4, h5{
    font-family:'Source+Sans+Pro', sans-serif;
}
h6{
    font-family: 'Source Sans Pro', sans-serif;
}



.row{
    outline: 0px white;
}
@media (max-width: 596px) {
 .topic{
    display: none;

  }
}
@media (max-width: 740px) {
 .description{
     margin-right: -100px;
     padding-left: 30px

    }
}
@media (max-width: 740px) {
 .data-tilt{
    display: none;

  }
}
